<div id="map_detailarea_wrapper" ng-init="init()">
  <div id="detail" class="col-md-12 col-12">

    <div class="card">
      <div class="card_heading">
        <h2>{{selected_item.name}}</h2>
      </div>

<style>
.img-fluid{
  width: 192px;
  height: 144px;
  padding: 0 8px;
}
#thumbnail-carousel{
  height: 152px;
}
</style>

      <div id="carousel-wrapper">
        <slick id="thumbnail-carousel" ng-if="thumbLoaded" settings="slickConfig">
          <div class="item" ng-repeat="(detail_idx, detail_item) in selected_item.detail_info" ng-click="selectThumbnailImg($index)">
            <a href="{{detail_item.image_url}}" data-lightbox="main_images" data-title="{{selected_item.name}}">
              <img class="d-block img-fluid" ng-src="{{detail_item.image_url_thumb}}" />
            </a>
          </div>
        </slick>
      </div>

      <div class="card_body row">
        <div class="col-sm-9">
          <div class="table-responsive">
            <table class="table table-condensed">
              <tr>
                <td class="item_name">住所</td>
                <td class="item_detail">
                  <span class="item_zip">{{selected_item.zip_no}}</span>
                  <p>{{selected_item.address}}</p>
                </td>
              </tr>
              <tr>
                <td class="item_name">prefecture</td>
                <td class="item_detail">
                  {{selected_item.prefecture}}
                </td>
              </tr>
              <tr>
                <td class="item_name">caption</td>
                <td class="item_detail">
                  {{selected_item.caption}}
                </td>
              </tr>
            </table>

            <!-- <span class="item_name">place</span>
            <p>{{selected_item.zip_no}}<br>
            {{selected_item.address}}</p>

            <span class="item_name">visit</span>
            <p>{{selected_item.visit_date}}</p>
        
            <span class="item_name">comment</span>
            <p>{{selected_item.caption}}</p> -->
          </div>
        </div>
        <!--
        <div>{{selected_item.prefecture}}</div>
        -->
        <div class="col-sm-3">
          <ul class="item_rate_list">
            <li class="box"><span class="item_name">season</span>
            <p>{{selected_item.season}}</p></li>
            <li class="box"><span class="item_name">migoro</span>
            <p>{{selected_item.season_monthly}}</p></li>
            <li class="box"><span class="item_name">accessibility</span>
            <p>{{selected_item.accessibility}}</p></li>
            <li class="box"><span class="item_name">crowdness</span>
            <p>{{selected_item.crowdness}}</p></li>
          </ul>
        </div>
        <ul>
            <li>prefecture:{{selected_item.prefecture}}</li>
            <li>caption:{{selected_item.caption}}</li>
            <li>favorite(=score(0-9)):{{selected_item.favorite}}</li>
            <li>accessibility(0-9):{{selected_item.accessibility}}</li>
            <li>crowdness(0-9):{{selected_item.crowdness}}</li>
            <li>place_type(N,B,P,H):{{selected_item.place_type}}</li>
            <li>image_url:{{selected_item.image_url}}</li>
          </ul>
        <!-- で、こっちがbody情報(明細な)(あ、つまり、MHM_M_PICTURESテーブルの情報な)(つまり、あのデータ管理シートの2枚目な) -->
          <ul>
            <li class="box"><span class="item_name">seq</span>
            <p>{{selected_item_detail.seq}}</p></li>

            <li>comment: {{selected_item_detail.comment}}</li>
            <li>visit_date: {{selected_item_detail.visit_date}}</li>
            <li>month(1-12): {{selected_item_detail.month}}</li>
            <li>timing_of_month(1-3): {{selected_item_detail.timing_of_month}}</li>
            <li>author: {{selected_item_detail.author}}</li>
            <li>recomend(0-9): {{selected_item_detail.recomend}}</li>
          </ul>
        
      </div>
    </div><!-- /.card -->
  </div><!-- /#detail -->
</div><!-- /.row -->