<div id="map_detailarea_wrapper" ng-init="init()">
  <div id="detail" class="col-md-12 col-12">

    <div class="card">
      <div class="card_heading">
        <h2>{{selected_item.name}}</h2>
      </div>

<style>
.img-fluid{
  margin: 0 auto;
  padding: 0 3px;
}
.img-fluid {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
.slick-center img{
transform: scale(1);
    opacity: 1;
}

</style>

      <div id="carousel-wrapper">
        <slick id="thumbnail-carousel" ng-if="thumbLoaded" settings="slickConfig">
          <div class="item" ng-repeat="(detail_idx, detail_item) in selected_item.detail_info" ng-click="selectThumbnailImg($index)">
            <a href="{{detail_item.image_url}}" data-lightbox="main_images" data-title="{{selected_item.name}}">
              <img class="d-block img-fluid" ng-src="{{detail_item.image_url_thumb}}" />
            </a>
          </div>
        </slick>
      </div>

      <div class="card_body row">
        <div class="col-sm-9">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <td class="item_name">住所</td>
                <td class="item_detail">
                  <span class="item_zip">{{selected_item.zip_no}}</span>
                  <p>{{selected_item.address}}</p>
                </td>
              </tr>
              <tr>
                <td class="item_name">prefecture</td>
                <td class="item_detail">
                  {{selected_item.prefecture}}
                </td>
              </tr>
              <tr>
                <td class="item_name">favorite(=score(0-9))</td>
                <td class="item_detail">
                  {{selected_item.favorite}}
                </td>
              </tr>
              <tr>
                <td class="item_name">accessibility(0-9)</td>
                <td class="item_detail">
                  {{selected_item.accessibility}}
                </td>
              </tr>
              <tr>
                <td class="item_name">crowdness(0-9)</td>
                <td class="item_detail">
                  {{selected_item.crowdness}}
                </td>
              </tr>
              <tr>
                <td class="item_name">place_type(N,B,P,H)</td>
                <td class="item_detail">
                  {{selected_item.place_type}}
                </td>
              </tr>
              <tr>
                <td class="item_name">seq</td>
                <td class="item_detail">
                  {{selected_item_detail.seq}}
                </td>
              </tr>
              <tr>
                <td class="item_name">comment</td>
                <td class="item_detail">
                  {{selected_item_detail.comment}}
                </td>
              </tr>
              <tr>
                <td class="item_name">visit_date</td>
                <td class="item_detail">
                  {{selected_item_detail.visit_date}}
                </td>
              </tr>
              <tr>
                <td class="item_name">month(1-12)</td>
                <td class="item_detail">
                  {{selected_item_detail.month}}
                </td>
              </tr>
              <tr>
                <td class="item_name">timing_of_month(1-3)</td>
                <td class="item_detail">
                  {{selected_item_detail.timing_of_month}}
                </td>
              </tr>
              <tr>
                <td class="item_name">author</td>
                <td class="item_detail">
                  {{selected_item_detail.author}}
                </td>
              </tr>
              <tr>
                <td class="item_name">recomend</td>
                <td class="item_detail">
                  {{selected_item_detail.recomend}}
                </td>
              </tr>

            </table>
          </div>
        </div>
        <!--
        <div>{{selected_item.prefecture}}</div>
        -->
        <div class="col-sm-3">
          <ul class="item_rate_list">
            <li class="box"><span class="item_name">month</span>
            <p>{{selected_item_detail.month}}</p></li>
            <li class="box"><span class="item_name">place type</span>
            <p>{{selected_item.place_type}}</p></li>
            <li class="box"><span class="item_name">accessibility</span>
            <p>{{selected_item.accessibility}}</p></li>
            <li class="box"><span class="item_name">crowdness</span>
            <p>{{selected_item.crowdness}}</p></li>
          </ul>
        </div>

      </div>
    </div><!-- /.card -->
  </div><!-- /#detail -->
</div><!-- /.row -->


<adsense></adsense>