
<div id="header-page-wrapper" ng-init="init()">

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" ng-click="selectTab('M')" data-toggle="tab" role="tab">Map</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ng-click="selectTab('C')" data-toggle="tab" role="tab">Card</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ng-click="selectTab('L')" data-toggle="tab" role="tab">List</a>
    </li>
  </ul>

  
  <div class="tab-content" style="position: relative;">
  
    <!-- Map tab -->
    <div class="tab-pane" ng-class="" role="tabpanel" id="tab-map">
      <div class="col-md-12 col-12">
        <div id="history_map"></div>
      </div>
    </div>

    <!-- Card Tab -->
    <div class="tab-pane" role="tabpanel" id="tab-card">
      <div id="cards_wrapper" class="row no-gutters">
        <div class="card_wrapper col-md-3 col-4" ng-repeat="(card_idx, item) in items" >
            <div class="panel" ng-click="selectCard(card_idx)">
              <div class="panel-heading">
                <div class="panel_img" ng-style="{'background-image': 'url('+ item.image_url +')'}"></div>
                <div class="ravel">
                  <span class="prefecture">{{item.prefecture}}</span>
                </div>
              </div>
              <div class="panel-body">
                {{item.name}}
              </div>
            </div>
        </div>
      </div><!-- /#cards_wrapper -->
    </div>

    <!-- List Tab -->
    <div class="tab-pane" role="tabpanel" id="tab-list">
      <ul>
        <li style="position: relative;" ng-repeat="item in items" ng-click="selectCard($index)">
          
          <img ng-src="{{item.image_url}}" class="img-square" />

          <div class="row">
            <div class="col-md-9 col-9">{{item.name}}</div>
            <div class="col-md-3 col-3">{{item.prefecture}}</div>
          </div>
          <div class="row">
            <div class="col-md-3 col-3">{{item.zip_no}}</div>
            <div class="col-md-9 col-9">{{item.address}}</div>
          </div>
          <div class="row">
            <div class="col-md-12 col-12">{{item.caption}}</div>
          </div>
          <div class="row">
            <div class="col-md-3 col-3">
              <p>fav</p>
              <p>{{item.favorite}}</p>
            </div>
            <div class="col-md-3 col-3">
              <p>acc</p>
              <p>{{item.accessibility}}</p>
            </div>
            <div class="col-md-3 col-3">
              <p>cro</p>
              <p>{{item.crowdness}}</p>
            </div>
            <div class="col-md-3 col-3">
              <p>pla</p>
              <p>{{item.place_type}}</p>
            </div>
          </div>
          
<!--
<ul>
<li>id:{{item.id}}</li>
<li>name:{{item.name}}</li>
<li>lat:{{item.lat}}</li>
<li>lng:{{item.lng}}</li>
<li>prefecture:{{item.prefecture}}</li>
<li>zip_no:{{item.zip_no}}</li>
<li>address:{{item.address}}</li>
<li>caption:{{item.caption}}</li>
<li>favorite:{{item.favorite}}</li>
<li>accessibility:{{item.accessibility}}</li>
<li>crowdness:{{item.crowdness}}</li>
<li>place_type:{{item.place_type}}</li>
<li>image_url:{{item.image_url}}</li>
</ul>
-->

        </li>
      </ul>
    </div>


<div class="alert" ng-show="message_info.show" ng-class="message_info.status" role="alert" data-dismiss="alert" style="position: absolute; top: 0; left: 0; width: 100%">
  {{message_info.message}}({{message_info.status}})({{message_info.show}})
</div>


  </div>
</div>