<div id="header-page-wrapper" ng-init="init()">

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" ng-click="selectTab('M')" data-toggle="tab" href="#tab-map" role="tab">M</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ng-click="selectTab('C')" data-toggle="tab" href="#tab-card" role="tab">C</a>
    </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" role="tabpanel" id="tab-map">

      <div class="col-md-12 col-12">
        <div id="history_map"></div>
      </div>

    </div>

    <div class="tab-pane" role="tabpanel" id="tab-card">

      <div id="cards_wrapper" class="row">
        <div class="card_wrapper col-md-3 col-4" ng-repeat="(card_idx, item) in items" >
            <button class="fav-button" ng-click="add2Favorite(card_idx)"><i class="glyphicon glyphicon-star-empty" ng-class="{'glyphicon-star': isAlreadyFav(item)}"></i></button>
            <div class="panel" ng-click="selectCard(card_idx)">
              <div class="panel-heading">
                <div class="panel_img" ng-style="{'background-image': 'url('+ item.image_url +')'}"></div>
                <div class="ravel">
                  <span class="season">{{item.season}}</span>
                  <span class="prefecture">{{item.prefecture}}</span>
                </div>
              </div>
              <div class="panel-body">
                {{item.name}}
              </div>
            </div>
        </div>
      </div><!-- /#cards_wrapper -->

    </div>
  </div>

  <div adsense>
    here may insert adsense...
  </div>

    <!-- ↓ここから検索条件指定↓ -->
  <div class="row" id="search_condition_wrapper">
    <div class="col-md-4 col-4">
      <select id="select_list_pref" size="8" multiple ng-model="selected_pref">
        <option ng-repeat="option in pref_list" value="{{option}}">{{option}}</option>
      </select>
    </div>
    <div class="col-md-4 col-4">
      <select id="select_list_order" size="8" ng-model="selected_order">
        <option ng-repeat="option in order_list" value="{{option.id}}">{{option.name}}</option>
      </select>
    </div>
    <div class="col-md-4 col-4">
      <button class="btn" ng-click="updateMapPoints()">Search</button>
    </div>
  </div>
  <!-- ↑ここまで検索条件指定↑ -->

</div>